<!doctype html>
<html xmlns:th="http://www.thymleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf.org"
lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="../static/tables/img/dossiers.png" th:href="@{tables/img/dossiers.png}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>Table Branches</title>

	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    
    <link href="../static/tables/css/bootstrap.css" th:href="@{tables/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/tables/css/fresh-bootstrap-table.css" th:href="@{tables/css/fresh-bootstrap-table.css}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <!--<link href="../static/tables/css/font-awesome.min.css" th:href="@{tables/css/font-awesome.min.css}" rel="stylesheet">
     <link href="../static/tables/css/fonts.css" th:href="@{tables/css/fonts.css}" rel='stylesheet' type='text/css'> -->
        
</head>
<body>
<p></p>

 <nav class="navbar navbar-ct-transparent" role="navigation-demo" id="demo-navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p></p>
      <div class="logo">
                    <img src="assets/paper_img/favicon.ico" >
                </div>
           
     
    </div>
    

<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation-example-2">
      <ul class="nav navbar-nav navbar-right">
      				<li><a th:href="@{/creation}" class="btn btn-danger btn-simple">Création</a></li>
                    <li><a th:href="@{/mouvement}" class="btn btn-danger btn-simple">Mouvement</a></li>
                    <li><a th:href="@{/editique}" class="btn btn-danger btn-simple ">éditique</a></li>
                    <li><a th:href="@{/profil}" class="btn btn-danger btn-simple">Profil</a></li>
                    <li><a onclick="return confirm('Are u sure ?')"  th:href="@{/logout}" class="btn btn-danger btn-simple">Logout</a></li>
               
       </ul>
       <ul class="nav navbar-nav navbar-left">
       <li class="dropdown btn btn-simple">
                  <a class="dropdown-toggle btn btn-danger btn-simple" data-toggle="dropdown" >Tables <b class="caret"></b></a>
                  <ul class="dropdown-menu ">
                  <li><a th:href="@{/tableUsers}">Table Utilisateurs</a></li>
                  	<li><a th:href="@{/tableProduits}">Table Produits</a></li>
                    <li><a th:href="@{/tableDossiers}">Table Dossiers</a></li>
                    <li><a th:href="@{/tableArmoireBoites}">Table Armoires</a></li>
                    <li><a th:href="@{/tableMouvement}">Table Mouvement</a></li>
                    <li><a th:href="@{/tableMotifs}">Table Motifs</a></li>
                  </ul>
                </li>
                </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-->
</nav>

<div class="wrapper">
	<div class="container">
        <div class="row">
	<div class="col-md-8 col-md-offset-2">
    	<div class="fresh-table full-color-azure ">
    <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange                  
            Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
    -->
        
        
        <div class="toolbar">
              <button  class="btn btn-default">Table Branches</button>
         </div>
        <table id="fresh-table" class="table">
            <thead>
                            
                            <th data-sortable="true">Code Branche</th>
                        	
                        	<th data-sortable="true" >Numéro de Branche</th>
                        	
                        	
                        	<!-- <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Actions</th> -->
                        </thead>
                        <tbody>
                            <tr th:each="b:${branches}" >
                            	
                            	<td th:text="${b.codeBranche}"></td>
                            	<td th:text="${b.nbreBranche}"></td>
                                                       	
                            </tr>
                            
                           
                        </tbody>
        </table>
    </div>
    </div>
    </div>
    </div>
</div>


</body>
<style>
body{
	background-image:url("/tables/img/bj.jpg") ;
	}
.container{
	 position: relative;
    
}
}
</style>
    <script type="text/javascript" src="tables/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="tables/js/bootstrap.js"></script>
    <script type="text/javascript" src="tables/js/bootstrap-table.js"></script>
        
    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;
            
        $().ready(function(){
            $table.bootstrapTable({
                toolbar: ".toolbar",
    
                showRefresh: true,
                search: true,
                showToggle: true,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 8,
                pageList: [8,10,25,50,100],
                
                formatShowingRows: function(pageFrom, pageTo, totalRows){
                    //do nothing here, we don't want to show the text "showing x of y from..." 
                },
                formatRecordsPerPage: function(pageNumber){
                    return pageNumber + " rows visible";
                },
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });
            
                        
            
            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });
    
            
            window.operateEvents = {
                'click .like': function (e, value, row, index) {
                    alert('You click like icon, row: ' + JSON.stringify(row));
                    console.log(value, row, index);
                },
                'click .edit': function (e, value, row, index) {
                    alert('You click edit icon, row: ' + JSON.stringify(row));
                    console.log(value, row, index);    
                },
                'click .remove': function (e, value, row, index) {
                    $table.bootstrapTable('remove', {
                        field: 'id',
                        values: [row.id]
                    });
            
                }
            };
            
            $alertBtn.click(function () {
                alert("You pressed on Alert");
            });
            
        });
            
    
        function operateFormatter(value, row, index) {
            return [
                '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
                    '<i class="fa fa-heart"></i>',
                '</a>',
                '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
                    '<i class="fa fa-edit"></i>',
                '</a>',
                '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
                    '<i class="fa fa-remove"></i>',
                '</a>'
            ].join('');
        }
    
            
    </script>

</html>